{cover_enabled, true}.
{erl_opts, [debug_info]}.

{deps, [
        {lfe, "0.6.2",
          {git, "git://github.com/rvirding/lfe.git", {tag, "v0.7a"}}},
        {riak_pool, ".*",
          {git, "file:///home/matt/repos/riak_pool", {branch, "master"}}},
        {whisper, ".*",
          {git, "file:///home/matt/repos/whisper", {branch, "master"}}},
        {car, ".*",
          {git, "file:///home/matt/repos/car", {branch, "master"}}}
       ]}.
